@font-face {
  font-family: "raleway";
  src: url(../font/Raleway-Medium.ttf);
}
*font {
  font-family: "raleway" sans-serif;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(201, 197, 197);
}
#myBlog {
  height: 15vh;
  font-family: sans-serif;
}
.myName{
  /* display: inline-block; */
}

#myBlog h1 {
  text-align: center;
  font-size: 1.9rem;
  padding-top: 2rem;
  font-weight: normal;
}
#myBlog h2 {
  text-align: center;
  font-size: 0.7rem;
  font-weight: normal;
}
.unknown {
  background-color: black;
  color: white;
  font-size: 0.7rem;
  font-weight: lighter;
  
}

/* body section */
#header {
  margin-bottom: 1rem;
  width: 100%;
  /* background-repeat: no-repeat;
    background-size: cover; */
  /* background-repeat: no-repeat;
    background-size: cover; */


  height: 55vh;
  background-color: white;
}
#header img {
  width: 95%;
  padding-top: 1rem;
  padding-left: 1rem;
}
#header h2 {
  padding-left: 1rem;
  font-family: sans-serif;
}
#header p {
  padding-left: 1rem;
}
.heading {
  background-color: white;
  width: 100%;
  box-shadow: 0px 0px 15px 15px rgb(141, 140, 140);
}

/* read more button */
.heading input {
  width: 100%;
  height: 2.5rem;
  font-size: medium;
  border-color: rgb(219, 217, 217);
  font-weight: bold;
}

.heading h4 {
  text-align: center;
  padding-bottom: 1rem;
  font-family: sans-serif;
}
.zero {
  background-color: black;
  color: white;
  font-family: sans-serif;
  font-size: 1rem;
  padding: 0.4rem;
}
.zero1 {
  background-color: black;
  color: white;
  font-family: sans-serif;
  font-size: 1rem;
  padding: 0.4rem;
  border-radius: 50%;
}
.heading h2 {
  padding-left: 1rem;
  font-family: sans-serif;
}
.descr {
  color: rgb(199, 196, 196);
}
.heading h3 {
  padding-left: 1rem;
  font-family: sans-serif;
}
.heading p {
  padding-left: 1rem;
}
.heading img {
  width: 100%;
}
#posts .popular img {
  width: 60px;
  padding: 0.5rem;
}
#posts h2 {
  font-family: sans-serif;
  padding-left: 1rem;
  font-weight: lighter;
  font-size: 2rem;
}
/* popular post section */
.popular {
  background-color: white;
  display: flex;
  border: 1px rgb(235, 232, 232) solid;
}
.paragraphe h3 {
  padding: 0;
  margin: 0;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: lighter;
}

.parapraphe {
  display: flex;
  flex-direction: column;
}

/* tags section */
#tag h3 {
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: lighter;
  padding-left: 1rem;
}
.tags {
  height: 15vh;
  background-color: white;
}
.travel {
  padding-top: 2rem;
  font-size: 1.3rem;
  font-weight: lighter;
  padding-left: 1rem;
}
.tagWords {
  background-color: rgb(233, 230, 230);
}
.tagWords1{
    font-size: 1.3rem;
    background-color: black;
    color: white;
}
/* footer section */
#prev input {
  background-color: black;
  color: white;
  height: 2.5rem;
  width: 7rem;
  font-size: 1.2rem;
}
#prev{
    background-color: grey;
    height: 20vh;
}

#prev p {
  text-align: left;
  color: white;
}


/* tablette screen 768 */
@media screen and (min-width: 576px)
{
   
  /* header section   */

#header img{
    padding: 1rem;
    width: 135px;
    border-radius: 20%;
    height: 100px;

}
    
.myName h2{
    display: none;

} 
#header{
    display: flex;
    height: 16vh;

}
.myName p{
    padding-top: 1rem;
    font-size: 1rem;
   

} 

/* read more button */

.heading input {
    width: 20%;
    height: 3rem;
    font-size: medium;
    border-color: rgb(219, 217, 217);
    font-weight: bold;
  }
  .heading h4{
    text-align: right;
    padding-right: 1rem;
  }
  .tagWords1{
    font-size: 1.3rem;
    background-color: black;
    color: white;
}

}


/* desktop format 768*/
@media screen and (min-width: 768px)
{

    /* section my name */
.myName h2{
  display: contents;
  margin-left: 1rem;
    font-size: 0.7rem;

}
    #header {
        padding: 0;
       margin: 0;
        width: 26%;
      display: flex;
      flex-direction: column;
       /* width: 24%; */
        height: 40vh;
        background-color: white;
        position: absolute;
        right: 0;
        top: 22.7%;
        /* padding-right: 2rem; */
        margin-right: 2rem; 
        box-sizing: border-box;
      }
      #header img {
       border-radius: 0%;
       /* height: 220px;
       width: 300px; */
       padding: 0;
       margin: 0;
       width: 100%;
       height: 60%;
       
      
       

      } 
      .myName{
        width: 27%;
        padding-left: 1rem;
      

      }
      
      
      .myName p{
        padding: 0%;
        font-size: 0.7rem;
        text-align: justify;
        width: 300%;
       

      }

     /* sections title x2  */
#title{
    width: 65%;
    padding: 2rem;



}
/* section pôsts */
#posts{
    width: 26%;
    background-color: rgb(221, 217, 217);
     position: absolute; 
    right: 2rem;
    top: 65vh;
    
    
}
#posts h3{
    font-size: 1.1rem;
}

/* section tags */
#tag{
    width: 26%;
    background-color: rgb(221, 217, 217);
    position: absolute;
    right: 2rem;
    top: 112vh;
    
}
.tagWords{
    font-size: 1rem;
}
.tagWords1{
    font-size: 1rem;
    background-color: black;
    color: white;
}


}